{% extends "base.html" %}
{% load i18n %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">
            <a class="chtour-players" href="/players">{% blocktrans %}Players{% endblocktrans %}</a>
        </li>
    </ul>
{% endblock %}


{% block content %}
    <div class="chtour-content container chtour-table-view">
        <h1 class="chtour-undercrossed-header">{% blocktrans %}Players{% endblocktrans %}</h1>
        <div>
            <table class="table table-striped">
                <tbody>
                    {% for player in players %}
                        <tr class="chtour-player" data-player-id="{{player.id}}">
                            <th class="chtour-no-large">{{forloop.counter}}</th>
                            <th class="chtour-player-name">{{player.name}}</th>
                            <th class="chtour-player-rank">{{player.rank|floatformat:0}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}