<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->


    {% if 0 %}
        <link rel="stylesheet/less" type="text/css" href="/static/style.less">
        <script src="/static/js/libs/less-1.3.0.min.js"></script>
    {% else %}
        <link rel="stylesheet" href="/static/css/style.css">
    {% endif %}


    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="/static/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="/" class="brand">Chess Tournament</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li{% if '/' == request.path %} class="active"{% endif %}><a class="chtour-home" href="/">Home</a></li>
                        <li{% if '/tournaments' in request.path %} class="active"{% endif %}><a class="chtour-tounrnaments" href="/tournaments">Tournaments</a></li>
                        <li{% if '/players' in request.path %} class="active"{% endif %}><a class="chtour-players" href="/players">Players</a></li>
                    </ul>
                    <ul class="nav pull-right chtour-permission{% if request.user.id %} chtour-logged{% endif %}{% if request.user.is_staff %} chtour-logged-staff{% endif %}">
                        <li><a class="chtour-managment" href="/admin/">Management</a></li>
                        <li><a class="chtour-logout" href="/accounts/logout/">Logout</a></li>
                        <li><a class="chtour-login" href="/accounts/login/">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div id="chtour-main" class="container" role="main">
        {% block breadcrumb %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

    <footer class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container chtour-footer">
                <p>Developed with python, gjango, jquery, twitter brootstrap</p>
            </div>
        </div>
    </footer>

    <!-- JavaScript at the bottom for fast page loading -->
    <script src="/static/js/libs/jquery-1.7.1.min.js"></script>
    <script src="/static/js/libs/jquery.form.js"></script>
    <script src="/static/js/libs/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>